.top-container {
  display: flex;
  margin-top: 30px;
}
.sidebar {
  width: 25%;
  margin-left: 30px;
}
.filters {
  display: flex;
  gap: 30px;
}
.task-container {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}
.task-list {
  display: flex;
  flex-direction: column;
}
thead {
  background-color: rgb(4, 226, 4);
}
tbody {
  background-color: rgb(160, 252, 224);
}
.title {
  min-width: 140px;
}
.description {
  min-width: 450px;
}
.due {
  min-width: 100px;
}
.date {
  min-width: 140px;
}
.status {
  min-width: 100px;
}
.todo {
  min-width: 100px;
  display: flex;
  justify-content: space-around;
}
.todo-icon {
  cursor: pointer;
}
.todo-icon:hover {
  scale: 0.8;
}
.refresh {
  width: 100px;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 10px;
}
